<template name="createOrder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Create Order</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="inline-form">
          <div class="form-group">
            <label></label>
            <select id="publisherList" class="form-control">
              <option>
                Select your publisher
              </option>
              <option value="capstone">
                Capstone
              </option>
              <option value="bearport">
                Bearport
              </option>
              <option value="lerner">
                Lerner Publishing
              </option>
              <option value="salem">
                Salem Press
              </option>
            </select>
          </div>
          <button type="button" class="btn btn-default" id="next">Next</button>
        </form>
      </div>
    </div>
  </div>
</template>