<template name="editOrderContextSet">
  <div class="container-fluid">
    <!-- Provide editOrder template with context, which comes
         directly from order document from Orders collection -->
      {{#if Template.subscriptionsReady}}
        {{> Template.dynamic template="editOrder"}}
      {{else}}
      {{/if}}
  </div>
</template>

<template name="editOrder">
  <div class="row mb">
    <div class="col-md-6">
      <div class="well">
        <b>Bill To:</b>
        <p>
          Punahou School
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">

      </div>
    </div>
  </div>
  <div class="row mb">
    <div class="col-md-9">
     <h1>Edit Your Order</h1>
     <label class="hideUnorderedBooks">
       <input type="checkbox">
        Show Ordered Books
     </label>
    </div>
    <div class="col-md-2">
      <p>
        Total Books Orders: {{totalQty}}
      </p>
      <p>
        Total Amount + {{tax}}: {{totalAmt}}
      </p>
    </div>
    <div class="col-md-1 mt">
      <button class="btn btn-primary" id="saveOrderBtn">Save Order</button>
    </div>
  </div>
  <div class="container-fluid">
    {{> tabular table=TabularTables.Catalogs id="catalogtableid" selector=selectorHelper class="table table-striped table-bordered table-condensed"}}
  </div>
</template>

<template name="addQTYCell">
  <form class="form-inline">
    <div class="form-group">
      <input type="number" class="form-control qtyBox" id="qtyEntered-{{_id}}" value={{currentQty}}>
    </div>
  </form>
</template>

<template name="discountCell">
  <form class="form-inline">
    {{#if isInRole 'admin' 'customers'}}
    <div class="form-group">
      <input type="text" class="form-control" id="discountInputBox" value={{currentDiscount}}>
    </div>
    {{else}}
    <div class="form-group">
      <input type="text" class="form-control" id="discountInputBox" value={{currentDiscount}} readonly>
    </div>
    {{/if}}
  </form>
</template>

<template name="rowTotalCell">
  <b>{{netTotal}}</b>
</template>

<template name="priceCell">
  <b id="userPrice-{{_id}}">{{netPrice}}</b>
</template>
